In [21]:
def checkio(text):
    text = list(text.lower())
    text_list = []
    [text_list.append(i) for i in text if i>='a' and i<='z']
    #[text.remove(i) for i in text if i in ',!.?"']
    text_dict = {}
    for i in text_list:
        if i not in text_dict:
            text_dict[i] = 1
        else:
            text_dict[i] += 1
    text_list = sorted(text_dict.keys())
    print(text_list)
    #return text_list[0][0]
    num = 0
    for i in text_list:
        if text_dict[i] > num:
            num = text_dict[i]
            letter = i
    return letter
    
if __name__ == '__main__':
    #These "asserts" using only for self-checking and not necessary for auto-testing
    assert checkio("Hello World!") == "l", "Hello test"
    assert checkio("How do you do?") == "o", "O is most wanted"
    assert checkio("One") == "e", "All letter only once."
    assert checkio("Oops!") == "o", "Don't forget about lower case."
    assert checkio("AAaooo!!!!") == "a", "Only letters."
    assert checkio("abe") == "a", "The First."
    print("Start the long test")
    assert checkio("a" * 9000 + "b" * 1000) == "a", "Long."
    print("The local tests are done.")
    print(checkio(input()))

['d', 'e', 'h', 'l', 'o', 'r', 'w']
['d', 'h', 'o', 'u', 'w', 'y']
['e', 'n', 'o']
['o', 'p', 's']
['a', 'o']
['a', 'b', 'e']
Start the long test
['a', 'b']
The local tests are done.
asdfasfsafsasf1111111111111111
['a', 'd', 'f', 's']
s

In [13]:
a= [('l', 3), ('o', 2), ('h', 1), ('e', 1), ('w', 1), ('r', 1), ('d', 1)]

In [14]:
type(a)

list

In [16]:
a[0][0]

'l'

In [22]:
a = 'asdfasfsafsasf1111111111111111'

In [23]:
a = list(a)

1

In [32]:
def checkio(data):
    data = list(data)
    data_list = []
    for i in data:
        if data.count(i) > 1:
            data_list.append(i)    
    return data_list

#Some hints
#You can use list.count(element) method for counting.
#Create new list with non-unique elements
#Loop over original list


if __name__ == "__main__":
    #These "asserts" using only for self-checking and not necessary for auto-testing
    assert list(checkio([1, 2, 3, 1, 3])) == [1, 3, 1, 3], "1st example"
    assert list(checkio([1, 2, 3, 4, 5])) == [], "2nd example"
    assert list(checkio([5, 5, 5, 5, 5])) == [5, 5, 5, 5, 5], "3rd example"
    assert list(checkio([10, 9, 10, 10, 9, 8])) == [10, 9, 10, 10, 9], "4th example"
    print("It is all good. Let's check it now")
    print(checkio(input()))

It is all good. Let's check it now
asfasfaf1213
['a', 's', 'f', 'a', 's', 'f', 'a', 'f', '1', '1']

In [33]:
a='123123123'

In [41]:
def checkio(data):
    import re
    if len(data) < 10:
        return True
    else:
        import re
        if re.search('[a-z]',data) and re.search('[A-Z]',data) and re.search('[0-9]',data):
            return True
    return False

#Some hints
#Just check all conditions


if __name__ == '__main__':
    #These "asserts" using only for self-checking and not necessary for auto-testing
    assert checkio('a1213pokl') == False, "1st example"
    assert checkio('bAse730onE4') == True, "2nd example"
    assert checkio('asasasasasasasaas') == False, "3rd example"
    assert checkio('QWERTYqwerty') == False, "4th example"
    assert checkio('123456123456') == False, "5th example"
    assert checkio('QwErTy911poqqqq') == True, "6th example"
    print("Coding complete? Click 'Check' to review your tests and earn cool rewards!")

AssertionError: 1st example

In [39]:
import re
if re.search('[a-z]','111'):
    print(True)

In [61]:
def count_words(text, words):
    text = text.lower()
    import re
    num = 0
    for i in words:
        if re.search(i.lower(), text):
            num += 1
    return num


if __name__ == '__main__':
    #These "asserts" using only for self-checking and not necessary for auto-testing
    assert count_words("How aresjfhdskfhskd you?", {"how", "are", "you", "hello"}) == 3, "Example"
    assert count_words("Bananas, give me bananas!!!", {"banana", "bananas"}) == 2, "BANANAS!"
    assert count_words("Lorem ipsum dolor sit amet, consectetuer adipiscing elit.",
                       {"sum", "hamlet", "infinity", "anything"}) == 1, "Weird text"
    print("Coding complete? Click 'Check' to review your tests and earn cool rewards!")

Coding complete? Click 'Check' to review your tests and earn cool rewards!

In [45]:
import re

In [46]:
text ="How aresjfhdskfhskd you"

In [59]:
for i in {"how", "are", "you", "hello"}:
    if re.search(i.lower(),text.lower()):
        print(i)
        print(True)

how
True
you
True
are
True

In [62]:
def checkio(game_result):
    for i in range(3):
        if game_result[i][0] == ame_result[i][1] == ame_result[i][2]:
            return game_result[i][0]
        elif game_result[0][i] == game_result[1][i] == game_result[2][i]:
                return game_result[0][i]
        elif game_result[]
    return "D" or "X" or "O"

if __name__ == '__main__':
    #These "asserts" using only for self-checking and not necessary for auto-testing
    assert checkio([
        "X.O",
        "XX.",
        "XOO"]) == "X", "Xs wins"
    assert checkio([
        "OO.",
        "XOX",
        "XOX"]) == "O", "Os wins"
    assert checkio([
        "OOX",
        "XXO",
        "OXX"]) == "D", "Draw"
    assert checkio([
        "O.X",
        "XX.",
        "XOO"]) == "X", "Xs wins again"
    print("Coding complete? Click 'Check' to review your tests and earn cool rewards!")

3

In [1]:
a = ["X.O","XX.","XOO"]

# Pandas

In [5]:
import pandas as pd

In [6]:
obj = pd.Series([1,2,3,4])

In [7]:
print(obj)

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
obj.values

array([1, 2, 3, 4], dtype=int64)

In [9]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
obj = pd.Series([0,1,5,4], index = ['a','b','d', 'f'])

In [11]:
obj

a    0
b    1
d    5
f    4
dtype: int64

In [12]:
obj.index = range(len(obj))

In [13]:
obj

0    0
1    1
2    5
3    4
dtype: int64

In [15]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [16]:
obj2 = pd.Series(sdata)

In [17]:
obj2

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [18]:
states = ['a','b','c','d']

In [19]:
pd.Series(sdata, index = states)

a   NaN
b   NaN
c   NaN
d   NaN
dtype: float64

In [20]:
import pandas as pd
from pandas import Series, DataFrame

In [23]:
obj[[0,2,3]]

0    0
2    5
3    4
dtype: int64

In [24]:
obj[obj>2]

2    5
3    4
dtype: int64

In [25]:
obj*2

0     0
1     2
2    10
3     8
dtype: int64

In [26]:
import numpy as np

In [27]:
np.exp(obj)

0      1.000000
1      2.718282
2    148.413159
3     54.598150
dtype: float64

In [28]:
6 in obj

False

In [29]:
2 in obj

True

In [30]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [31]:
obj3 = Series(sdata)

In [32]:
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [33]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [34]:
obj4 = Series(sdata, index=states)

In [35]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [36]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [37]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [38]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [39]:
obj4.name = 'population'

In [41]:
obj4.index.name = 'state'

In [43]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [44]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

In [45]:
obj

Bob      0
Steve    1
Jeff     5
Ryan     4
dtype: int64

In [46]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

In [47]:
frame = DataFrame(data)

In [48]:
frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [51]:
DataFrame(data, columns = ['year', 'pop', 'state'])

   year  pop   state
0  2000  1.5    Ohio
1  2001  1.7    Ohio
2  2002  3.6    Ohio
3  2001  2.4  Nevada
4  2002  2.9  Nevada

In [52]:
frame2 = DataFrame(data, index=['one', 'two', 'three', 'four', 'five'])

In [53]:
frame2

       pop   state  year
one    1.5    Ohio  2000
two    1.7    Ohio  2001
three  3.6    Ohio  2002
four   2.4  Nevada  2001
five   2.9  Nevada  2002

In [54]:
frame2.index

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [55]:
frame2.columns

Index(['pop', 'state', 'year'], dtype='object')

In [61]:
frame2.pop

<bound method NDFrame.pop of        pop   state  year
one    1.5    Ohio  2000
two    1.7    Ohio  2001
three  3.6    Ohio  2002
four   2.4  Nevada  2001
five   2.9  Nevada  2002>

In [69]:
frame2.loc['three']

pop       3.6
state    Ohio
year     2002
Name: three, dtype: object

In [70]:
frame2 = frame2 = DataFrame(data, index=['one', 'two', 'three', 'four', 'five'], columns = ['pop', 'year', 'state', 'debt'])

In [71]:
frame2

       pop  year   state debt
one    1.5  2000    Ohio  NaN
two    1.7  2001    Ohio  NaN
three  3.6  2002    Ohio  NaN
four   2.4  2001  Nevada  NaN
five   2.9  2002  Nevada  NaN

In [76]:
frame2['debt'] = [16.5,12,11,12,11]

In [77]:
frame2

       pop  year   state  debt
one    1.5  2000    Ohio  16.5
two    1.7  2001    Ohio  12.0
three  3.6  2002    Ohio  11.0
four   2.4  2001  Nevada  12.0
five   2.9  2002  Nevada  11.0

In [78]:
frame2['debt'] = np.arange(5)

In [79]:
frame2

       pop  year   state  debt
one    1.5  2000    Ohio     0
two    1.7  2001    Ohio     1
three  3.6  2002    Ohio     2
four   2.4  2001  Nevada     3
five   2.9  2002  Nevada     4

In [80]:
help(np.arange)

Help on built-in function arange in module numpy.core.multiarray:

arange(...)
    arange([start,] stop[, step,], dtype=None)

    Return evenly spaced values within a given interval.

    Values are generated within the half-open interval ``[start, stop)``
    (in other words, the interval including `start` but excluding `stop`).
    For integer arguments the function is equivalent to the Python built-in
    `range <http://docs.python.org/lib/built-in-funcs.html>`_ function,
    but returns an ndarray rather than a list.

    When using a non-integer step, such as 0.1, the results will often not
    be consistent.  It is better to use ``linspace`` for these cases.

    Parameters
    ----------
    start : number, optional
        Start of interval.  The interval includes this value.  The default
        start value is 0.
    stop : number
        End of interval.  The interval does not include this value, except
        in some cases where `step` is not an integer and floating point
        round-off affects the length of `out`.
    step : number, optional
        Spacing between values.  For any output `out`, this is the distance
        between two adjacent values, ``out[i+1] - out[i]``.  The default
        step size is 1.  If `step` is specified, `start` must also be given.
    dtype : dtype
        The type of the output array.  If `dtype` is not given, infer the data
        type from the other input arguments.

    Returns
    -------
    arange : ndarray
        Array of evenly spaced values.

        For floating point arguments, the length of the result is
        ``ceil((stop - start)/step)``.  Because of floating point overflow,
        this rule may result in the last element of `out` being greater
        than `stop`.

    See Also
    --------
    linspace : Evenly spaced numbers with careful handling of endpoints.
    ogrid: Arrays of evenly spaced numbers in N-dimensions.
    mgrid: Grid-shaped arrays of evenly spaced numbers in N-dimensions.

    Examples
    --------
    >>> np.arange(3)
    array([0, 1, 2])
    >>> np.arange(3.0)
    array([ 0.,  1.,  2.])
    >>> np.arange(3,7)
    array([3, 4, 5, 6])
    >>> np.arange(3,7,2)
    array([3, 5])

In [82]:
val = Series([-1.2, -3, -4.5], index = ['two', 'four', 'five'])

In [83]:
frame2['debt'] = val

In [84]:
frame2

       pop  year   state  debt
one    1.5  2000    Ohio   NaN
two    1.7  2001    Ohio  -1.2
three  3.6  2002    Ohio   NaN
four   2.4  2001  Nevada  -3.0
five   2.9  2002  Nevada  -4.5

In [89]:
frame2.esteren = frame2['state'] == 'Ohio'

In [90]:
frame2

       pop  year   state  debt  esteren
one    1.5  2000    Ohio   NaN     True
two    1.7  2001    Ohio  -1.2     True
three  3.6  2002    Ohio   NaN     True
four   2.4  2001  Nevada  -3.0    False
five   2.9  2002  Nevada  -4.5    False

In [94]:
frame2.loc['two']

pop         1.7
year       2001
state      Ohio
debt       -1.2
esteren    True
Name: two, dtype: object

In [96]:
del frame2['esteren']

In [97]:
frame2

       pop  year   state  debt
one    1.5  2000    Ohio   NaN
two    1.7  2001    Ohio  -1.2
three  3.6  2002    Ohio   NaN
four   2.4  2001  Nevada  -3.0
five   2.9  2002  Nevada  -4.5

In [98]:
frame2.columns

Index(['pop', 'year', 'state', 'debt'], dtype='object')

In [100]:
from datetime import date

In [101]:
firstday = date.fromtimestamp(1464101200)

In [102]:
firstday

datetime.date(2016, 5, 24)

In [110]:
y = date.strftime(firstday,'%Y-%m-%d')

In [111]:
y

'2016-05-24'

In [114]:
import requests
r = requests.get('https://api.douban.com/v2/book/1084336')
r.text

'{"rating":{"max":10,"numRaters":227789,"average":"9.0","min":0},"subtitle":"","author":["[] "],"pubdate":"2003-8","tags":[{"count":53895,"name":"","title":""},{"count":45606,"name":"","title":""},{"count":21861,"name":"","title":""},{"count":19950,"name":"","title":""},{"count":19762,"name":"","title":""},{"count":15491,"name":"","title":""},{"count":11325,"name":"","title":""},{"count":8446,"name":"","title":""}],"origin_title":"Le Petit Prince","image":"https://img1.doubanio.com\\/mpic\\/s1237549.jpg","binding":"","translator":[""],"catalog":"   \\n","pages":"97","images":{"small":"https://img1.doubanio.com\\/spic\\/s1237549.jpg","large":"https://img1.doubanio.com\\/lpic\\/s1237549.jpg","medium":"https://img1.doubanio.com\\/mpic\\/s1237549.jpg"},"alt":"https:\\/\\/book.douban.com\\/subject\\/1084336\\/","id":"1084336","publisher":"","isbn10":"702004249X","isbn13":"9787020042494","title":"","url":"https:\\/\\/api.douban.com\\/v2\\/book\\/1084336","alt_title":"Le Petit Prince","author_intro":"Antoine de Saint-Exupery, 1900-194419006291923\\n1926192919311939\\n19431944731","summary":"\\nB612\\n\\n","price":"22.00"}'